Source: dahdi-linux
Section: comm
Priority: optional
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.fr>
Build-Depends: debhelper (>= 5), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27), bzip2, udev
Standards-Version: 3.7.2
Homepage: http://www.asterisk.org/

Package: dahdi-source
Section: devel
Architecture: all
Depends: debhelper (>= 5), quilt, patchutils (>= 0.2.25), cdbs (>= 0.4.27-1), bzip2, libusb-dev, module-assistant
Description: DAHDI telephony interface (source code for kernel driver)
 This package contains the source code for dahdi-linux kernel module providing
 device drivers for various telephony hardware, including the Wildcard 
 series of interface cards (X100P, T400P, E400P, S100P, S100U).
 .
 It is normally used to build kernel modules package: m-a a-i dahdi-linux

Package: dahdi-linux
Architecture: all
Depends: udev
Replaces: dahdi-modules, dahdi-linux-modules-common
Description: DAHDI telephony interface (source code for kernel driver)
 This package contains the source code for dahdi-linux kernel module providing
 device drivers for various telephony hardware, including the Wildcard 
 series of interface cards (X100P, T400P, E400P, S100P, S100U).
 .
 This package contains common necessary files for using kernel modules.

Package: dahdi-linux-dev
Section: devel
Architecture: all
Description: DAHDI telephony interface (source code for kernel driver)
 This package contains the source code for dahdi-linux kernel module providing
 device drivers for various telephony hardware, including the Wildcard 
 series of interface cards (X100P, T400P, E400P, S100P, S100U).
 .
 This package contains development files.
