#!/usr/bin/make -f


PKG  = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VER ?= $(shell dpkg-parsechangelog | grep Version: | awk -F': ' '{print $$NF}' | sed -ne 's/^\(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
URL_DOWNLOAD = "http://downloads.digium.com/pub/telephony/dahdi-linux/releases/dahdi-linux-2.10.1.tar.gz"

include /usr/share/cdbs/1/rules/debhelper.mk
PACKAGE = dahdi-linux-modules
MA_DIR ?= /usr/share/modass
-include $(MA_DIR)/include/generic.make
-include $(MA_DIR)/include/common-rules.make
KPKG_DESTDIR := $(DEB_DESTDIR)

# fallback for XEN
ifeq ($(KVERS),unknown)
KVERS=$(shell uname -r)
endif

BUILD_SRC_STAMP="debian/stamp-dahdi-linux-source-build"


# classic build rules

binary-install/dahdi-source::
	if [ ! -e "$(BUILD_SRC_STAMP)" ]; then \
		mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/usr/src/modules/dahdi-linux; \
		find $(DEB_BUILDDIR) -mindepth 1 -maxdepth 1 -name "debian" -prune -o -exec \
			cp -a {} $(CURDIR)/debian/$(cdbs_curpkg)/usr/src/modules/dahdi-linux \;; \
		mkdir -p $(CURDIR)/debian/$(cdbs_curpkg)/usr/src/modules/dahdi-linux/debian; \
		cd $(CURDIR)/debian ; cp changelog control \
			compat *.modules.in rules copyright \
			$(cdbs_curpkg)/usr/src/modules/dahdi-linux/debian; \
		cd $(cdbs_curpkg)/usr/src/ ; \
			tar -cjf dahdi-linux.tar.bz2 modules && rm -rf modules; \
		touch $(CURDIR)/$(BUILD_SRC_STAMP); \
	fi

install/dahdi-linux::
	$(MAKE) -C $(DEB_BUILDDIR) install-modconf ROOT_PREFIX=$(CURDIR)/debian/$(cdbs_curpkg)

binary-install/dahdi-linux::
	dh_installdocs -p$(cdbs_curpkg) $(DEB_BUILDDIR)/UPGRADE.txt $(DEB_BUILDDIR)/drivers/dahdi/xpp/Changelog_xpp

install/dahdi-linux-dev::
	$(MAKE) -C $(DEB_BUILDDIR) install-include DESTDIR=$(CURDIR)/debian/$(cdbs_curpkg)

binary-install/dahdi-linux-dev::
	dh_install -p$(cdbs_curpkg) $(DEB_BUILDDIR)/drivers/dahdi/ecdis.h $(DEB_BUILDDIR)/drivers/dahdi/biquad.h $(DEB_BUILDDIR)/usr/include/dahdi/

clean::
	rm -rf $(CURDIR)/debian/stamp-dahdi-linux-*


# module-assistant rules

kdist_configure: prep-deb-files
binary-modules: prep-deb-files
	dh_testdir
	dh_testroot
	dh_clean -k
	#
	$(MAKE) modules
	$(MAKE) install-modules DESTDIR=$(CURDIR)/debian/$(PKGNAME)
ifeq (2.6,$(shell echo $(KVERS) | cut -d. -f1-2))
	# The 2.6 modules are way too big. This is only in kernel 2.6
	find $(CURDIR)/debian/$(PKGNAME)/lib/modules -name '*.ko' | xargs strip -g
endif
	#
	dh_installmodules
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	#dh_gencontrol -- -v$(PKGNAME)
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(KPKG_DESTDIR)

kdist_clean:
	$(MAKE) dist-clean
	dh_clean

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(URL_DOWNLOAD) -O ../$(PKG)_$(VER).orig.tar.gz
